<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="16994Sparksoft.VBA10" Publisher="CN=9289A21E-3389-49E2-A9E0-46AA1289C3CB" Version="1.17.183.0" />
  <mp:PhoneIdentity PhoneProductId="2b9558e5-6253-426c-8989-3284f508e743" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>VBA10</DisplayName>
    <PublisherDisplayName>WP8Emu</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10240.0" MaxVersionTested="10.0.10240.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VBA10.App">
      <uap:VisualElements DisplayName="VBA10" Square150x150Logo="Assets\MediumTile.png" Square44x44Logo="Assets\AppList.png" Description="A Gameboy/Gameboy Advance Emulator for Windows 10." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\WideTile.png" Square71x71Logo="Assets\SmallTile.png" ShortName="VBA10">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#4D3A89" />
      </uap:VisualElements>

      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="gameboyfile">
            <uap:DisplayName>Gameboy ROM file</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true" />
            <uap:Logo>Assets\Extension.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType>.gba</uap:FileType>
              <uap:FileType>.gbc</uap:FileType>
              <uap:FileType>.gb</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
      
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="humaninterfacedevice">
      <Device Id="any">
        <Function Type="usage:0001 0004" />        <!--joy stick-->
        <Function Type="usage:0001 0005" />        <!--gamepad-->
      </Device>
    </DeviceCapability>
  </Capabilities>
  
</Package>